@import url(fontawesome-all.min.css);

/* Wrapper */

/*==========================*/
/*Temporary disable of wrapper
  to see if BG will show somewhere else*/
/*==========================*/

/*#wrapper.fade-in {
  background-image: 
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../img/bg-brick.jpg");
  background-size: auto, auto, 100% auto;
  background-position: center, center, top center;
  background-repeat: repeat, no-repeat, no-repeat;
  background-attachment: fixed, fixed, fixed;
  background-color: #212931;
}*/

#wrapper.fade-in:before {
  display: none;
}

/* Intro */

body.is-preload #intro {
  opacity: 1;
}

body.is-preload #intro:not(.hidden) + #header + #nav {
  -moz-transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
}
